extends ../main

block title
	| Главная страница (main.psd)

block content
	article.content-wrapper
		.container
			.main-title
				| Мобильные телефоны
			.main-content
				include ../_common/_sidebar
				.content
					.sort
						.products
			.attension
				.main-title
					| Важная информация
				.attension_text
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem ipsam consectetur voluptatibus libero saepe temporibus soluta nemo, et dolore maiores! Voluptates laborum maxime, unde repellat repudiandae, dolorum repellendus sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem ipsam consectetur voluptatibus libero saepe temporibus soluta nemo, et dolore maiores! Voluptates laborum maxime, unde repellat repudiandae, dolorum repellendus sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem ipsam consectetur voluptatibus libero saepe temporibus soluta nemo, et dolore maiores! Voluptates laborum maxime, unde repellat repudiandae, dolorum repellendus sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem ipsam consectetur voluptatibus libero saepe temporibus soluta nemo, et dolore maiores! Voluptates laborum maxime, unde repellat repudiandae, dolorum repellendus sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem ipsam consectetur voluptatibus libero saepe temporibus soluta nemo, et dolore maiores! Voluptates laborum maxime, unde repellat repudiandae, dolorum repellendus sit.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates autem ipsam consectetur voluptatibus libero saepe temporibus soluta nemo, et dolore maiores! Voluptates laborum maxime, unde repellat repudiandae, dolorum repellendus sit.
					
							

			
